html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.fullHeight {
  height: 100%;
}

textarea {
  width: 100%;
  resize: none;
  font-family: monospace;
  border: none;
  background: #fff;
  padding: 1em;
}

textarea:focus {outline:0;}

.col-xs-6 {
  padding: 0;
}

iframe {
  border: none;
  background-color: #fff;
  width: 100%;
  height: 30vw;
}

.preview {
  background: rgba(147,128,108,.1);
}

.aligner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 24em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.alignerItem {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  width: 100%;
}

.fullscreenToggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 2;
}

.fullscreenToggle:hover {
  cursor: pointer;
}

.fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #fff;
}
